* {
    padding: 0;
    margin: 0;
    font-family: 'Basic';
    text-decoration: 0;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: green;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

span {
    color: green;
}


.logo {
    width: 10%;
    border-radius: 100%;
}

.content {
    width: 100%;
    position: absolute;
    top: 70%;
    transform: translateY(-90%);
    text-align: center;
    color: #fff;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75));
    background-size: cover;
    background-position: center;
}

.rj {
    position: relative;
    width: 15%;
    border-radius: 100%;
}

.rj:hover {
    transition: .5s;
    width: 20%;
}

.content h1 {
    font-size: 70px;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

.content h2 {
    margin: 20px auto;
    font-weight: 100;
    letter-spacing: 4px;
    line-height: 25px;
}

.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.description {
    position: absolute;
    top: 98%;
    left: 23%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.116);
    backdrop-filter: blur(5px);
}

.desc {
    color: white;
}

@media (min-aspect-ratio: 16/9) {
    .back-video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .back-video{
        width: auto;
        height: 100%;
    }
}