* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Basic';
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: green;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.logo {
    width: 10%;
    border-radius: 100%;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-90%);
    text-align: center;
    color: #fff;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(../img/prj-bg.jpg);
    background-size: cover;
    background-position: center;
}

.name {
    color: white;
    border-radius: 25px;
    margin: 0;
    margin-left: 10%;
    margin-top: 2%;
    font-size: 100px;
}

.description {
    position: absolute;
    top: 26%;
    left: 58%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    width: 450px;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.116);
    backdrop-filter: blur(5px);
}

.desc {
    color: white;
}

.description2 {
    display: flex;
    position: absolute;
    top: 51%;
    left: 10%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    width: 200px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.116);
    backdrop-filter: blur(5px);
}


.desc2 {
    color: white;
}

.description3 {
    position: absolute;
    top: 51%;
    left: 31%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    width: 250px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.116);
    backdrop-filter: blur(5px);
}

.desc3 {
    color: white;
}

.description4 {
    position: absolute;
    top: 51%;
    left: 53%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    width: 250px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.116);
    backdrop-filter: blur(5px);
}

.desc4 {
    color: white;
}

.description5 {
    position: absolute;
    top: 51%;
    left: 75%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    width: 275px;
    font-size: 17px;
    background-color: rgba(0, 0, 0, 0.116);
    backdrop-filter: blur(5px);
}

.desc5 {
    color: white;
}